<div class="container border bg-light col-md-6 mt-5"> 
    <!-- bg-info font-weight-bold" style="padding: 0px 250px; -->
    <h3>{{title}}</h3>
    <hr>
    <form >
        <!-- <mat-checkbox>Check me!</mat-checkbox>
        <button mat-button>Click me!</button>
        <div class="button-row">
            <button mat-raised-button>Basic</button>
            <button mat-raised-button color="primary">Primary</button>
            <button mat-raised-button color="accent">Accent</button>
            <button mat-raised-button color="warn">Warn</button>
            <button mat-raised-button disabled>Disabled</button>
            <a mat-raised-button routerLink=".">Link</a>
          </div> -->

          <div class="col-md-6">
                <mat-form-field class="w-100">
                        <input matInput  type="username"  required placeholder="Username" name="username" [(ngModel)]="username" >
                 </mat-form-field>
            </div> 

<!-- 
        <div class="form-group">
            <label for="Username">Username :</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="username">
        </div> -->

        <div class="col-md-6">
                <mat-form-field class="w-100">
                        <input matInput  type="password"  required placeholder="Password" name="password" [(ngModel)]="password" >
                 </mat-form-field>
            </div>
        <!-- <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="password">
        </div> -->

        <div>
            <button type="submit"  (click)="login()" mat-raised-button color="primary">login</button>
            <p style="margin-left: 100px;">Not a member as yet?<strong (click)="signup()">Resister Now </strong></p>

            <!-- <button style="margin-left: 100px;" (click)="signup()" type="submit" class="btn btn-primary">Sign up</button> -->
        </div>
    </form>
</div>
